<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgZ8c36PYSklpoCyLMtpC1v_5FmC6qC04</string>
	<key>GCM_SENDER_ID</key>
	<string>1090097950999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.maazim</string>
	<key>PROJECT_ID</key>
	<string>maazim-8c3ef</string>
	<key>STORAGE_BUCKET</key>
	<string>maazim-8c3ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090097950999:ios:97fec57244d0b2d5420752</string>
</dict>
</plist>